:root {
  --sidebar-color: #d8d9da;
  font-size: 17px;
}
ul {
  margin: 0;
}

#sidebar {
  background-color: var(--sidebar-color);
  margin: 0;
  padding: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow-y: auto;
}

#nav-links {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  background-color: var(--sidebar-color);
  font-size: 1.2rem;
  width: 60%;
}

.nav-link:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: brightness(96%);
  transition: 0.07s;
}
.nav-link:active {
  transform: translateY(4px);
  transition: 0.07s;
}

.nav-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  gap: 10%;
  margin-left: 24px;
  white-space: nowrap;
}

.nav-link-wrapper.selected {
  border-bottom: 1px solid black;
}

.nav-link-img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

#addButton {
  border: 0;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  height: 100px;
  width: 100px;
  text-align: center;
}

#addButton > img {
  max-width: 100%;
}

#addButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 250px;
  font-size: 1.5rem;
  border-radius: 64px;
  transition: 0.1s;
}

#addButton:active {
  transform: translateY(10px);
  transition: 0.07s;
}

#addNewGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 0;
  background-color: var(--sidebar-color);
}

#addNewGroup:hover {
  transform: translateY(-4px);
  cursor: pointer;
  filter: brightness(96%);
  transition: 0.07s;
}
#addNewGroup > img {
  max-width: 32px;
  max-height: 32px;
  flex: 0 0 1;
}

#addNewGroup > p {
  font-size: 1.1rem;
}

#groupSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#groupSectionTitle {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  align-self: start;
  position: relative;
  left: 50px;
}

#groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.group {
  font-size: 1.2rem;
  width: 60%;
  background-color: var(--sidebar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.group:hover {
  filter: brightness(96%);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.07s;
}
.group:active {
  transform: translateY(4px);
  transition: 0.07s;
}

.group > p {
  margin: 0;
  padding: 0;
}

.close-button {
  visibility: hidden;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  right: 10px;
}
.close-button:hover {
  color: red;
  cursor: progress;
  transition: 0.07s;
}

#groupSection {
  margin: initial 0;
  padding: 0;
}

#group-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

#group-form > input {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

#group-form > button:first-of-type {
  grid-row-start: 2;
}

#group-form > button:last-of-type {
  grid-row-start: 2;
  grid-column-start: 2;
}
