#modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#add-todo-window {
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 24px;
}

#add-todo-bg {
  position: absolute;
  z-index: -1;
  max-height: 150%;
  max-width: auto;
}

textarea {
  resize: none;
}

.close {
  font-size: 1.5rem;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
}
.close:hover {
  color: red;
  cursor: pointer;
}

input[type="date"]:hover,
input[type="radio"]:hover,
select:hover {
  cursor: pointer;
}

#priority-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.priority {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.priority > input {
  margin: 0;
}

#title-input {
  width: 90%;
}

#desc-input {
  width: 90%;
}

#date-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#group-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#submit-todo {
  border-radius: 32px;
  outline: none;
  background-color: red;
  border-color: red;
  width: 50%;
  height: min-content;
  font-size: 1.5rem;
  color: white;
}

#submit-todo:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: 0.07s;
  cursor: pointer;
}

#submit-todo:active {
  transform: translateY(4px);
  filter: brightness(85%);
  transition: 0.07s;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.todo-container {
  width: 20%;
  min-height: 25%;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.todo-container > * {
  margin: 0;
  padding: 0;
}

.todo-top-img {
  display: block;
  max-width: calc(100% + 48px);
  max-height: 20%;
}

.todo {
  width: 100%;
  min-height: 80%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.todo-bottom-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.todo > * {
  margin: 0;
  padding: 0;
}
